:root {
  --card-set-gap: 30px;
  --section-padding-bottom: 94px;
  --section-padding-top: 94px;
  --title-text-color: #212121;
  --text-color: #757575;
  --background-hero-color: #c4c4c4;
  --hero-tytle-color: #ffffff;
  --hero-btn-texr-color: #ffffff;
  --hero-btn-background-color: #2196f3;
  --accent-color: #2196f3;
  --background-color: #ffffff;
  --additional-font-color: #ffffff;
  --button-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --footer-text-color: rgba(255, 255, 255, 0.6);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;

  color: var(--text-color);
  background-color: var(--background-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.list {
  list-style: none;
}

/*--------------HEADER------------*/
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}

.header-wrap {
  display: flex;
  align-items: center;
}

.logo {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.header-logo {
  margin-right: 93px;
}

.accent {
  color: var(--accent-color);
}

.link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration-line: none;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
}

.nav-link {
  text-decoration: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}

.nav-item + .nav-item {
  margin-left: 50px;
}

.header-contacts {
  display: flex;
  margin-left: auto;
}

.nav-auth-link {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--text-color);
}

.nav-icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-contacts-mail {
  margin-right: 50px;
}

.current {
  position: relative;
  color: var(--accent-color);
}

.current::after {
  content: '';
  position: absolute;
  bottom: -32px;
  display: block;

  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}
/*---------------MAIN----------------------
/* ---------------hero------------------------ */
.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  background-color: var(--background-hero-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/студия/hero\ bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-title {
  margin-left: auto;
  margin-right: auto;

  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--hero-tytle-color);
}
.hero-btn {
  border-radius: 4px;
  padding: 10px 32px;
  margin-top: 30px;
  min-width: 200px;

  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;

  background-color: var(--hero-btn-background-color);
  color: var(--hero-btn-texr-color);
}

/* -------------------features---------------- */
.features-list {
  display: flex;
}
.features-item {
  max-width: 270px;
}

.features-item:not(:last-child) {
  margin-right: var(--card-set-gap);
}

.features-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
}

.features-title {
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-text-color);
}

.features-text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;

  color: var(--text-color);
}

/* -----------------section about------------ */
.about {
  padding-bottom: var(--section-padding-bottom);
}

.about-list {
  display: flex;
}

.about-item:not(:last-child) {
  margin-right: var(--card-set-gap);
}

.about-item {
  position: relative;
}

.about-label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  bottom: 0;
  width: 100%;
  height: 70px;

  background: rgba(47, 48, 58, 0.8);
}

.about-label-text {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.about-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

/* ------------------наша команда----------------- */
.team {
  background-color: #f5f4fa;
}

.team-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
.team-list {
  display: flex;
}

.team-item {
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
  margin-right: var(--card-set-gap);
}

.team-names {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  text-align: center;

  color: var(--title-text-color);
}
.team-position {
  margin-top: 10px;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  text-align: center;

  color: var(--text-color);
}

.team-content {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-socials-list {
  display: flex;
  justify-content: center;
}
.team-socials-item {
  width: 44px;
  height: 44px;
}
.team-socials-item + .team-socials-item {
  margin-left: 10px;
}

.team-socials-link {
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
}

.team-socials-link:hover,
.team-socials-link:focus {
  background-color: var(--accent-color);
  color: var(--additional-font-color);
}
.team-socials-icon {
  fill: currentColor;
}
/*------------------Постоянные клиенты--------------*/
.customers-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.customers-list {
  display: flex;
}
.customers-item:not(:last-child) {
  margin-right: 30px;
}

.customers-link {
  transition-property: border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
}

.customers-link:hover,
.customers-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.customers-icon {
  fill: currentColor;
}

/*------------------ buttons----------------- */
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter li:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  border-radius: 4px;
  border: transparent;
  padding: 6px 22px;
  min-width: 73px;

  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;

  color: var(--title-text-color);
  background-color: var(--button-background-color);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--additional-font-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ---------------примеры работ  projects------------- */
.projects {
  display: flex;
  flex-wrap: wrap;
}
.project-item {
  flex-basis: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
.project-item-link {
  display: block;
  text-decoration: none;
}
.project-thumb {
  position: relative;
  overflow: hidden;
}

.project-overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  padding: 63px 24px;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  height: 100%;

  color: var(--additional-font-color);
  background-color: rgba(33, 150, 243, 0.9);
}

.project-item-link:hover .project-overlay-text,
.project-item-link:focus .project-overlay-text {
  transform: translateY(0);
}

.project-item-link:hover,
.project-item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-item:nth-child(3n) {
  margin-right: 0;
}

.project-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.project-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}
.project-text {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;

  color: var(--text-color);
}

.project-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

/*----------------- FOOTER--------------- */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;

  background-color: var(--footer-background-color);
}

.footer-logo {
  color: var(--additional-font-color);
}

.address {
  margin-top: 20px;
}

.footer-link {
  font-style: normal;

  color: var(--footer-text-color);
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address {
  font-style: normal;

  color: var(--additional-font-color);
}

.footer-wrap {
  display: flex;
  align-items: baseline;
}

.footer-text {
  margin-bottom: 20px;

  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;

  color: #ffffff;
}

.footer-socials {
  width: 206px;
  height: 80px;
  margin-left: 70px;
}

.footer-socials-list {
  display: flex;
  justify-content: center;
}
.footer-socials-item {
  width: 44px;
  height: 44px;
}

.footer-socials-item:not(:last-child) {
  margin-right: 10px;
}

.footer-socials-link {
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: var(--accent-color);
}

.footer-socials-icon {
  fill: currentColor;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
  transition-duration: 250ms;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 581px;

  transform: translate(-50%, -50%) scale(1);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal-icon {
  fill: currentColor;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
